@using AsArch.NET.Models
@model NodeEditViewModels

@{
    /**/

    ViewBag.Title = "Редактировать";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>@Model.NameNode</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*HiddenFor *@
        @Html.EditorFor(model => model.IdNode)
        @Html.EditorFor(model => model.Id_itemtype)
        @Html.EditorFor(model => model.Id_parent)
        @Html.EditorFor(model => model.Id_GrantParent)
        @Html.EditorFor(model => model.IdAttr)
        @Html.EditorFor(model => model.Attrs)

        @if (Model.Id_itemtype == 1954)
        {
            Html.RenderPartial("_editIskovoeZayvlenie", Model);

        }
        //else if (Model.Id_itemtype == 2286)
        //{
        //    Html.RenderPartial("_editPredmetIska", Model);
        //}
        else
        {
            Html.RenderPartial("_editAll", Model);
        }
    </div>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Сохранить" class="btn btn-default itemtype" />
    </div>
}


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}


@*@section scripts
                    {
        <script>
            $(function () {
                $('.itemtype').change(function () {
                    $(this).closest('form').trigger('submit');
                })
            })
        </script>
    }*@
